<h1 class="text-sm font-bold text-red-500">Welcome to the Home Page</h1>
<p class="text-lg">This is the home page of your application.</p>
<%= link_to "Login", new_session_path, class: "text-blue-500 hover:underline" %>
